<!DOCTYPE html>
<html lang="en" {% if user.name %}class="overflow" {% endif %}>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;800&display=swap"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url('styles.css') }}"/>
    <script src="{{ url('js/navbar.js') }}" defer></script>
    {% if driverRegister or (loggedIn and home) %}
        <script src="{{ url('js/dualFormSection.js') }}" defer></script>
    {% endif %}
    {% if (available or decided or user.bookedRides) %}
        <script src="{{ url('js/expandSection.js') }}" defer></script>
    {% endif %}
    {% if disappearingSVG %}
        <script src="{{ url('js/disappearingSVG.js') }}" defer></script>
    {% endif %}
    {% if home %}
        <script src="{{ url('js/newRideButton.js') }}" defer></script>
        <script src="{{ url('js/openLayers/main.js') }}" defer></script>
    {% if not loggedIn %}
        <script src="{{ url('js/trippleFormSection.js') }}" defer></script>
    {% endif %}
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <title>Rebu</title>
</head>
<body {% if (home and errors) %}class="newRide" {% endif %}>
<header>
    <a href="{{ url('/') }}"><h1>Rebu</h1></a>
    <button class="navbarToggle">
        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.625 20.25H3.375V18H23.625V20.25ZM23.625 14.625H3.375V12.375H23.625V14.625ZM23.625 9H3.375V6.75H23.625V9Z"
                  fill="white"/>
        </svg>
    </button>

    <nav>
        <h2>Menu</h2>
        <button class="navbarToggle">
            <svg width="20" height="20" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_8_70)">
                    <path d="M1.6875 25.3125L25.3125 1.6875M25.3125 25.3125L1.6875 1.6875" stroke="currentColor"
                          stroke-width="1.6875" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
        </button>

        <ul>
            {% if not home %}
                <li>
                    <a href="{{ url('') }}" >
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.08191 9.31964L12.0819 2.31964L21.0819 9.31964V20.3196C21.0819 20.8501 20.8712 21.3588 20.4961 21.7339C20.121 22.1089 19.6123 22.3196 19.0819 22.3196H5.08191C4.55148 22.3196 4.04277 22.1089 3.6677 21.7339C3.29262 21.3588 3.08191 20.8501 3.08191 20.3196V9.31964Z"
                                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.08191 22.3196V12.3196H15.0819V22.3196" stroke="currentColor" stroke-width="2"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Home
                    </a>
                </li>
            {% endif %}
            {% if not loggedIn %}
                <li>
                    <a href="{{ url('login') }}" >
                        <svg width="25" height="25" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_7_44)">
                                <path d="M27 13.4865C27 6.04125 20.952 0 13.5 0C6.048 0 0 6.04125 0 13.4865C0 17.5871 1.863 21.2827 4.779 23.7634C4.806 23.7904 4.833 23.7904 4.833 23.8174C5.076 24.0064 5.319 24.1954 5.589 24.3844C5.724 24.4654 5.832 24.5717 5.967 24.6797C8.19799 26.1923 10.8316 27.0006 13.527 27C16.2224 27.0006 18.856 26.1923 21.087 24.6797C21.222 24.5987 21.33 24.4924 21.465 24.4097C21.708 24.2224 21.978 24.0334 22.221 23.8444C22.248 23.8174 22.275 23.8174 22.275 23.7904C25.137 21.2811 27 17.5871 27 13.4865ZM13.5 25.3007C10.962 25.3007 8.64 24.4907 6.723 23.1424C6.75 22.9264 6.804 22.7121 6.858 22.4961C7.01888 21.9107 7.25484 21.3486 7.56 20.8237C7.857 20.3108 8.208 19.8517 8.64 19.4468C9.045 19.0417 9.531 18.6654 10.017 18.3684C10.53 18.0714 11.07 17.8554 11.664 17.6934C12.2626 17.5321 12.88 17.4509 13.5 17.4521C15.3405 17.4391 17.1133 18.1451 18.441 19.4198C19.062 20.0408 19.548 20.7698 19.899 21.6051C20.088 22.0911 20.223 22.6041 20.304 23.1424C18.3114 24.5433 15.9358 25.2968 13.5 25.3007ZM9.369 12.8132C9.1311 12.2685 9.01147 11.6795 9.018 11.0852C9.018 10.4929 9.126 9.89888 9.369 9.35888C9.612 8.81888 9.936 8.33456 10.341 7.92956C10.746 7.52456 11.232 7.20225 11.772 6.95925C12.312 6.71625 12.906 6.60825 13.5 6.60825C14.121 6.60825 14.688 6.71625 15.228 6.95925C15.768 7.20225 16.254 7.52625 16.659 7.92956C17.064 8.33456 17.388 8.82056 17.631 9.35888C17.874 9.89888 17.982 10.4929 17.982 11.0852C17.982 11.7062 17.874 12.2732 17.631 12.8115C17.3965 13.3435 17.0671 13.8284 16.659 14.2425C16.2448 14.65 15.7599 14.9788 15.228 15.2128C14.1123 15.6713 12.8607 15.6713 11.745 15.2128C11.2131 14.9788 10.7282 14.65 10.314 14.2425C9.90531 13.8344 9.58381 13.3476 9.369 12.8115V12.8132ZM21.897 21.7671C21.897 21.7131 21.87 21.6861 21.87 21.6321C21.6045 20.7873 21.2131 19.9875 20.709 19.2594C20.2045 18.526 19.5844 17.8792 18.873 17.3441C18.3297 16.9354 17.7407 16.5911 17.118 16.3181C17.4013 16.1312 17.6638 15.9146 17.901 15.6718C18.3035 15.2744 18.6571 14.8303 18.954 14.3488C19.552 13.3664 19.8608 12.2352 19.845 11.0852C19.8534 10.2339 19.688 9.38979 19.359 8.60456C19.0342 7.84795 18.5667 7.161 17.982 6.58125C17.3982 6.00755 16.7111 5.5495 15.957 5.23125C15.1705 4.90285 14.3253 4.73807 13.473 4.74694C12.6206 4.7386 11.7754 4.90396 10.989 5.23294C10.2284 5.5505 9.53962 6.01827 8.964 6.60825C8.39032 7.19143 7.93225 7.87796 7.614 8.63156C7.28502 9.41679 7.11965 10.2609 7.128 11.1122C7.128 11.7062 7.209 12.2732 7.371 12.8115C7.533 13.3785 7.749 13.8915 8.046 14.3758C8.316 14.8618 8.694 15.2938 9.099 15.6988C9.342 15.9418 9.612 16.1561 9.909 16.3451C9.28435 16.6254 8.69521 16.9788 8.154 17.3981C7.452 17.9381 6.831 18.5844 6.318 19.2864C5.80881 20.0114 5.41701 20.8121 5.157 21.6591C5.13 21.7131 5.13 21.7671 5.13 21.7941C2.997 19.6357 1.674 16.7231 1.674 13.4865C1.674 6.98625 6.993 1.67231 13.5 1.67231C20.007 1.67231 25.326 6.98625 25.326 13.4865C25.3225 16.5914 24.0896 19.5686 21.897 21.7671Z"
                                      fill="white"/>
                            </g>
                        </svg>
                        Log In
                    </a>
                </li>
            {% endif %}
            {% if (user.status == "Driver" and userStatus != 'Rider') %}
                <li>
                    <a href="{{ url('driver/rides') }}" aria-label="rides" title="Rides">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                             preserveAspectRatio="xMidYMid meet"
                             viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="M6 19v.525q0 .625-.425 1.05Q5.15 21 4.5 21q-.625 0-1.062-.438Q3 20.125 3 19.5V12l2.1-6q.15-.45.538-.725Q6.025 5 6.5 5h11q.475 0 .863.275q.387.275.537.725l2.1 6v7.525q0 .625-.425 1.05Q20.15 21 19.5 21q-.625 0-1.062-.438Q18 20.125 18 19.5V19Zm-.2-9h12.4l-1.05-3H6.85ZM5 12v5Zm2.5 4q.625 0 1.062-.438Q9 15.125 9 14.5t-.438-1.062Q8.125 13 7.5 13t-1.062.438Q6 13.875 6 14.5t.438 1.062Q6.875 16 7.5 16Zm9 0q.625 0 1.062-.438Q18 15.125 18 14.5t-.438-1.062Q17.125 13 16.5 13t-1.062.438Q15 13.875 15 14.5t.438 1.062Q15.875 16 16.5 16ZM5 17h14v-5H5Z"/>
                        </svg>
                        Rides
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url('drivers/create') }}" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="M6 19v.525q0 .625-.425 1.05Q5.15 21 4.5 21q-.625 0-1.062-.438Q3 20.125 3 19.5V12l2.1-6q.15-.45.538-.725Q6.025 5 6.5 5h11q.475 0 .863.275q.387.275.537.725l2.1 6v7.525q0 .625-.425 1.05Q20.15 21 19.5 21q-.625 0-1.062-.438Q18 20.125 18 19.5V19Zm-.2-9h12.4l-1.05-3H6.85ZM5 12v5Zm2.5 4q.625 0 1.062-.438Q9 15.125 9 14.5t-.438-1.062Q8.125 13 7.5 13t-1.062.438Q6 13.875 6 14.5t.438 1.062Q6.875 16 7.5 16Zm9 0q.625 0 1.062-.438Q18 15.125 18 14.5t-.438-1.062Q17.125 13 16.5 13t-1.062.438Q15 13.875 15 14.5t.438 1.062Q15.875 16 16.5 16ZM5 17h14v-5H5Z"/>
                        </svg>
                        Become a Driver
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ url('about') }}" >
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.0819 22.3196C17.6048 22.3196 22.0819 17.8425 22.0819 12.3196C22.0819 6.79679 17.6048 2.31964 12.0819 2.31964C6.55906 2.31964 2.08191 6.79679 2.08191 12.3196C2.08191 17.8425 6.55906 22.3196 12.0819 22.3196Z"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.0819 16.3196V12.3196" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M12.0819 8.31964H12.0919" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    About
                </a>
            </li>
            {% if loggedIn %}
                <li>
                    <a href="{{ url('/account') }}" >
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.0819 21.3196V19.3196C20.0819 18.2588 19.6605 17.2414 18.9103 16.4912C18.1602 15.7411 17.1428 15.3196 16.0819 15.3196H8.08191C7.02104 15.3196 6.00363 15.7411 5.25348 16.4912C4.50334 17.2414 4.08191 18.2588 4.08191 19.3196V21.3196"
                                  stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <path d="M12.0819 11.3196C14.291 11.3196 16.0819 9.52878 16.0819 7.31964C16.0819 5.1105 14.291 3.31964 12.0819 3.31964C9.87277 3.31964 8.08191 5.1105 8.08191 7.31964C8.08191 9.52878 9.87277 11.3196 12.0819 11.3196Z"
                                  stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                        Account
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block main %}

    {% endblock %}
</main>
<footer>Siebe, Bert en Lukas</footer>
</body>
</html>
