{% extends "/partials/common.twig" %}
{% block main %}
    <div class="panel registerDriver">
        <h2>Driver Register</h2>
        <form action="./becomeDriver.php" method="post" novalidate>
            <div class="form" id="registerDriver">
                <section class="firstFormSection">
                    <label for="numberPlate">Number Plate</label>
                    <input type="text" name="numberPlate" id="numberPlate" value="{{ numberPlate }}">
                    {% if errors.numberPlate %}
                        <p class="errorMsg">{{errors.numberPlate}}</p>
                    {% endif %}
                    <label for="birthDate">Birth Date</label>
                    <input type="date" name="birthDate" id="birthDate" value="{{ birthDate }}">
                    {% if errors.birthDate %}
                        <p class="errorMsg">{{errors.birthDate}}</p>
                    {% endif %}
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender">
                        {% if genders|length < 0 %}
                            <option value="wrong">something went wrong</option>
                        {% endif %}
                        {% for value in genders %}
                            <option value="{{ value }}"  {% if value == gender %} selected="selected" {% endif %} >{{ value }}</option>
                        {% endfor %}
                        <!--<option value="">...</option>
                        <option value="M">M</option>
                        <option value="F">F</option>
                        <option value="X">X</option>-->
                    </select>
                    {% if errors.firstName %}
                        <p class="errorMsg">{{errors.gender}}</p>
                    {% endif %}
                    <label for="profilePic">
                        Profile Picture
                    </label>
                    <span>
                        <input type="file" name="profilePic" id="profilePic">
                    </span>
                    {% if errors.firstName %}
                        <p class="errorMsg">{{errors.profilePic}}</p>
                    {% endif %}
                </section>
                <section class="secondFormSection hidden">
                    <label for="carBrand">Car Brand</label>
                    <input type="text" name="carBrand" id="carBrand" value="carBrand">
                    {% if errors.firstName %}
                        <p class="errorMsg">{{errors.carBrand}}</p>
                    {% endif %}
                    <label for="carModel">Car Model</label>
                    <input type="text" name="carModel" id="carModel" value="carModel">
                    {% if errors.firstName %}
                        <p class="errorMsg">{{errors.carModel}}</p>
                    {% endif %}
                    <label for="carPassengers">Passengers</label>
                    <input type="number" name="carPassengers" id="carPassengers" value="carPassengers">
                    {% if errors.firstName %}
                        <p class="errorMsg">{{errors.carPassengers}}</p>
                    {% endif %}
                    <button class="btn secondFormSection" type="submit">Register</button>
                </section>
            </div>
        </form>
        <button class="btn formToggle">Next</button>
    </div>
{% endblock %}