{% extends "partials/common.twig" %}
{% block main %}
    <div class="panel">
        <h2>Register</h2>
        <form action="{{  url('register') }}" method="post" novalidate>
            <div class="form" id="register">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" value="{{firstName}}" required
                        {% if errors.firstName %}
                            class="error"
                        {% endif %}>
                {% if errors.firstName %}
                    <p class="errorMsg">{{errors.firstName}}</p>
                {% endif %}
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" value="{{lastName}}" required
                        {% if errors.lastName %}
                            class="error"
                        {% endif %}>
                {% if errors.lastName %}
                    <p class="errorMsg">{{errors.lastName}}</p>
                {% endif %}
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{email}}" required
                        {% if errors.email %}
                            class="error"
                        {% endif %}>
                {% if errors.email %}
                    <p class="errorMsg">{{errors.email}}</p>
                {% endif %}
                <input type="hidden" name="moduleAction" value="register">
                <button class="btn" type="submit">Register</button>
            </div>
        </form>
    </div>
{% endblock %}